<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">

  <hr>
  <h2>GeoOrthographic</h2>
  <o2-chart-lib-o2-chart [chartType]="geoOrthographicTypeName" [configData]="configData"  [graphData]="geoOrthographicDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Bar</h2>
  <o2-chart-lib-o2-chart [chartType]="barTypeName" [configData]="configData"  [graphData]="barDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Pie</h2>
  <o2-chart-lib-o2-chart [chartType]="pieTypeName" [configData]="configData"  [graphData]="pieDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>ScatterPlot</h2>
  <o2-chart-lib-o2-chart [chartType]="scatterPlotTypeName" [configData]="configData"  [graphData]="scatterPlotDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Histogram</h2>
  <o2-chart-lib-o2-chart [chartType]="histogramTypeName" [configData]="configData"  [graphData]="histogramDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>PackLayout</h2>
  <o2-chart-lib-o2-chart [chartType]="packLayoutTypeName" [configData]="configData"  [graphData]="packLayoutDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Tree</h2>
  <o2-chart-lib-o2-chart [chartType]="treeTypeName" [configData]="configData"  [graphData]="treeDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Line</h2>
  <o2-chart-lib-o2-chart [chartType]="lineTypeName" [configData]="configData"  [graphData]="lineDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>GeoMap</h2>
  <o2-chart-lib-o2-chart [chartType]="geoMapTypeName" [configData]="configData"  [graphData]="geoMapDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>StackBar</h2>
  <o2-chart-lib-o2-chart [chartType]="stackBarTypeName" [configData]="configData"  [graphData]="stackBarDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Choropleth</h2>
  <o2-chart-lib-o2-chart [chartType]="choroplethTypeName" [configData]="configData"  [graphData]="choroplethDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>
  <hr>
  <h2>Force</h2>
  <o2-chart-lib-o2-chart [chartType]="forceTypeName" [configData]="configData"  [graphData]="forceDataJson" [svgWidth]="'600'" [svgHeight]="'400'"></o2-chart-lib-o2-chart>

</div>